div.analyticsContainer {
    width:60vw;
}

div.analyticsContainer div.avgContainer {
    width:60vw;
    height:100%;
    display:flex;
    flex-direction:row;
}

div.analyticsContainer h3 {
    float:left;
    color:#6975A7;
}