div.customizationContainer {
    display:flex;
    flex-direction:column;
    width:60vw;
    height:100%;
    padding-bottom:40px;
}

div.customizationContainer div div.noProd {
    width:100%;
    height:300px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #6975A7;
}

div.customizationContainer div div.noProd h5 {
    font-style:italic;
    color:#6975A7;
}

/*Modal Search Bar*/
/* 
div.customizationContainer div.searchBar {
    display:flex;
}

div.customizationContainer div.searchBar input.bar {
    flex-grow:3;
}

div.customizationContainer div.searchBar button.searchBtn {
    flex-grow:1;
} */

div.customizationContainer h3 {
    display:flex;
    justify-content:left;
    color:#6975A7;
}

div.customizationContainer div ul.productsList {
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:60vw;
    height:500px;
    overflow:auto;
}

div.customizationContainer div ul.productsList li {
    height:200px;
    width:100%;
}

div.customizationContainer div ul.productsList li.addContainer {
    float:left !important;
}

div.customizationContainer div ul.productsList li div.productItemContainer:hover {
    cursor: pointer;
}

div.customizationContainer div ul.productsList li div.productItemContainer {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    border-top:2px #6975A7 solid;
    padding-top:2rem;
    padding-bottom:2rem;
}

div.customizationContainer div ul.productsList li div.productItemContainer div.imgContainer {
    width:25%;
    display:flex;
    align-items: center;
    justify-content: center;
}

div.imgContainer img {
    flex-shrink:1;
    height:150px;
    width:150px;
}

div.customizationContainer div ul.productsList li div.productItemContainer div.productContent {
    width:50%;
    display:flex;
    justify-content: flex-start;
    flex-direction:column;
}

div.customizationContainer div ul.productsList li div.productItemContainer div.productContent h3, 
div.customizationContainer div ul.productsList li div.productItemContainer div.productContent button,
div.customizationContainer div ul.productsList li div.productItemContainer div.productContent button {
    float:left;
    flex-shrink:1;
}
div.customizationContainer div div.addContainer {
    display:flex;
    justify-content: center;
    align-items: center;
}

div.customizationContainer div div.addContainer div.addButton {
    border: 2px solid #2ecc71;
    background-color:white;
    color:#2ecc71;
    border-radius:4px;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top:1rem;
    padding-bottom:1rem;
}

div.customizationContainer div div.addContainer div.addButton:hover {
    background-color:#2ecc71;
    color:white;
    cursor: pointer;
}

div.customizationContainer div ul.productsList li div.productItemContainer div.productBox {
    border:7px solid #6975A7;
    border-radius:10px;
    margin:16px;
    position:relative;
}

div.customizationContainer div ul.productsList li div.productItemContainer div.productBox:hover {
    animation:moveUp .5s ease-in-out forwards;
}

div.customizationContainer div ul.productsList li div.productItemContainer h6 {
    color:#6975A7;
    font-size:1.2rem;;
}

div.customizationContainer div ul.productsList li div.productItemContainer div.removeContainer {
    height:100%;
    width:25%;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:3rem;
}

div.customizationContainer div ul.productsList li div.productItemContainer div.removeContainer div.remove {
    border-radius:50%;
    background-color:#e74c3c;
    border:4px solid white;
    display:flex;
    justify-content:center;
    align-items: center;
    color:white;
    height:40px;
    width:40px;
}

/*Modal Product Info*/

div.prodInfo {
    display:flex;
    flex-direction: row;
}

div.prodInfo div.prodContent p {
    font-weight:lighter;
}

div.customizationContainer div ul.productsList li div.productItemContainer div.removeContainer div.remove:hover {
    cursor:pointer;
    animation:scale 1s ease-in-out forwards;
}

div.customizationContainer div ul.productsList li.addContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:25px;
}

div.customizationContainer div ul.productsList li.addContainer div.addButton {
    height:100px;
    width:100px;
    background-color:#2ecc71;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items: center;
}

div.customizationContainer div ul.productsList li.addContainer div.addButton:hover, div.addSearchContainer div.addSearchButton:hover {
    cursor:pointer;
    animation:scale 1s ease-in-out forwards;
}

/* div.customizationContainer div ul.productsList li.addContainer div.addButton:hover h6 {
    transform-origin: center;
    animation:rotate 1s ease-in-out forwards;
} */

@keyframes moveUp {
    0% {
        transform:translateY(0);
    } 60% {
        transform:translateY(17px);
    } 100% {
        transform:translateY(-12px);
    }
}

@keyframes scale {
    0%{
        transform: scale(1);
    }25% {
        transform:scale(.75);
    }100% {
        transform:scale(1.2);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }25% {
        transform:rotate(-90deg);
    }100% {
        transform:rotate(270deg);
    }
}

div.customizationContainer div ul.productsList li.addContainer div.addButton h6 {
    font-size:3rem;
}

div.searchBar {
    display:flex;
}

div.searchBar input {
    flex-grow:7;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:1rem;
    margin-right:.5rem;
    padding:.5rem;
}

div.searchBar button {
    flex-grow:1;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-right:1rem;
}

div.addProductContainer{
    height:70vh;
}

div.infiniteList {
    max-height:400px;
    overflow:auto;
}

div.listRow {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
}

div.searchItem {
    display:flex;
    flex-direction:row;
    height:250px;
    padding-bottom:3rem;
}

div.searchItem div.leftContainer img, div.searchItem div.leftContainer {
    width:60%;
}

div.searchItem div.leftContainer img {
    margin:1rem;
}

div.searchItem div.leftContainer {
    padding:1rem;
}

div.addSearchContainer {
    width:40%;
    display:flex;
    justify-content: center;
    align-items: center;
}

div.addSearchContainer div.addSearchButton {
    background-color:#2ecc71;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height:80px;
    width:80px;
}

div.addSearchContainer div.addSearchButton h6 {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3rem;
}

