html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.App .landing {
    font-family: Futura, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
    text-align: left;
    position:relative;
}

.App div.landing div.top-button {
    position:fixed;
    height:70px;
    width:70px;
    background-color:gray;
    filter:opacity(75%);
    color:white;
    font-size:1rem;
    top:86vh;
    left:93vw;
    z-index:3;
    display:none;
    justify-content: center;
    align-items: center;
    border-radius:50%;
}

.App div.landing div.top-button:hover {
    background-color:white;
    color:gray;
    filter:opacity(100%);
    cursor: pointer;
    border:2px solid gray;
}

.App .landing-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.App .landing-container {
    width: 100%;
    height: 95vh;
    margin: none;
    padding: none;
    display: flex;
}

.App .landing-logo-text, .landing-signin-button {
    color: white;
    margin: 1em;
    font-size: 1.8em;
}

.App .landing-logo-text {
    font-size: 2em;
}

Link {
    text-decoration: none; 
}

.App .landing-signin-button {
    font-size: 1.5em;
    padding: 0.5rem;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
}

.App .landing-signin-button:hover {
    background: white;
    color: #2CD6A9;
}

.App .mission {
    background: #2CD6A9;
    position: relative;
    flex-direction: column;
}

.App .snapshot {
    background: whitesmoke;
    color: DimGray;
    justify-content: flex-end;
}

.App .recommend {
    background: tomato;
    color: white;
}

.App .customize {
    background: whitesmoke;
    color: DimGray;
    justify-content: flex-end;
}

.App .track {
    background: #29339B;
    color: white;
}

.round-button{
    padding: 10px;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
}

.card-deck-short{
    height: 18rem;
}
.App .landing-mission {
    margin-top: 7vh;
    text-align: left;
    align-items: center;
    font-size: 2.5rem;
}

.App .landing-mission-subtitle {
    margin-top: 2vh;
    text-align: left;
    font-size: 1.5rem;
    color: white;
}

.App .landing-mission, .landing-mission-subtitle {
    margin-left: 20px;
    margin-right: 20px;
}

.App .landing-content {
    padding: 3em;
    margin-top: 10vh;
    max-width: 70vw;
}

.App .landing-content-title {
    font-size: 2rem;
}

.App .landing-content-text {
    margin-top: 2em;
    font-size: 1.2em;
}

.App .circle-image {
    width: 10em;
    height: 10em;
    position: absolute;
    top: 60vh;
    left: 6vh
}

.App .mission-image {
    max-width: 15em;
    position: absolute;
    top: 50vh;
    left: 10vh
}

.App .snapshot-image {
    max-width: 12em;
    position: absolute;
    top: 155vh;
    left: 30vw;
}

.App .recommend-image {
    max-width: 40vh;
    position: absolute;
    top: 250vh;
    left: 8vw;
}
.App .customize-image {
    max-width: 40vh;
    position: absolute;
    top: 340vh;
    left: 12vh;
}
.App .track-image {
    max-width: 40vh;
    position: absolute;
    top: 430vh;
    left: 8vw;
}

.App div.landing-start-container {
    margin-top:2vh;
    margin-left:80px;
}

.App div.landing-start {
    border:3px solid white;
    color:white;
    background-color:transparent;
    border-radius: 10%;
    padding:.7rem;
    font-size:1.2rem;
    width:190px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.App div.landing-start:hover {
    cursor: pointer;
    background-color:white;
    color:#2CD6A9;
}

@media (min-width: 1024px) {
    .App .landing-mission {
        margin-top: 20vh;
        font-size: 4vw;
    }
    .App .landing-mission-subtitle {
        font-size: 2.5vw;
    }
    .App .landing-mission, .landing-mission-subtitle {
        margin-left: 80px;
    }
    .App .landing-content {
        padding: 4em;
        margin-top: 10vh;
        max-width: 42vw;
    }

    .App .snapshot-content {
        max-width: 47vw;
        text-align: right;
    }

    .App .landing-content-title {
        font-size: 4vw;
    }
    .App .landing-content-text {
        margin-top: 1em;
        font-size: 2vw;
        font-weight: lighter;
    }
    .App .circle-image {
        width: 30vw;
        height: 30vw;
        position: absolute;
        top: 25%;
        left: 65%;
    }
    .App .mission-image {
        max-width: 40vw;
        position: absolute;
        top: 15%;
        left: 55%;
    }
    .App .snapshot-image {
        max-width: 40vw;
        position: absolute;
        top: 115%;
        left: 12%;
    }
    .App .recommend-image {
        max-width: 40vw;
        position: absolute;
        top: 200%;
        left: 50%;
    }
    .App .customize-image {
        max-width: 40vw;
        position: absolute;
        top: 300%;
        left: 12%;
    }
    .App .track-image {
        max-width: 40vw;
        position: absolute;
        top: 390%;
        left: 50%;
    }
}

/* 
.landing-title-container .landing-logo-text h1 {
    color:white;
    margin:1rem;
    font-size:3rem;
}

.landing-title-container .landing-signin-container {
    width:50%;
    display:flex;
    justify-content:flex-end;
}

.landing-title-container .landing-signin-container .landing-signin-button h3 {
    color:white;
    background-color:#A5D38C;
    border:2px solid white;
    border-radius:10%;
    padding-left:1rem;
    padding-right:1rem;
    padding-top:.3rem;
    padding-bottom:.3rem;
    margin:1rem;
    font-size:1.4rem;
}

.landing-title-container .landing-signin-container .landing-signin-button h3:hover {
    background-color:white;
    color:#A5D38C;
}

.landing-title-container .landing-mission {
    height:75%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.landing-title-container .landing-mission h1 {
    color:white;
    font-size:3rem;
}

.landing-container.snapshot {
    height:90vh;
    width:100%;
    background-color:#DBD8B3;
    display:flex;
    flex-wrap:nowrap;
    position:relative;
}

.landing-container .landing-content {
    padding:5rem;
}

.landing-container .landing-content p {
    text-align:left;
    font-size:2rem;
    color:white;
    line-height:1.5em;
}

.landing-container .landing-content h1.landing-h1.snapshot {
    color:white;
}

.landing-image-container,
.landing-content {
    width:50%;
    height:100%;
    padding:3em;
    
}

.landing-container .landing-image-container .landing-image {
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    height:100%;
    width:90%;
    top:3rem;
    z-index:1;
}

.landing-container.track {
    height:90vh;
    width:100%;
    background-color:#FCC8B2;
    display:flex;
    flex-wrap:nowrap;
    position:relative;
    padding-top:3rem;
}

.landing-container.track .landing-image-container {
    position:relative;
    display:flex;
}

.landing-container.track .landing-content h1.landing-h1.track {
    color:white;
}

.landing-container.track .landing-content p.landing-content-track {
    color:white;
}

.landing-container.customize {
    height:90vh;
    width:100%;
    background-color:#EFA48B;
    display:flex;
    flex-wrap:nowrap;
}

.landing-container.customize .landing-content h1.landing-h1.customize {
    color:white;
}

.landing-container.customize .landing-image-container {
    position:relative;
} */
