div.QuestionnaireContainer div.Questionnaire {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    display:flex;
    justify-content:center;
    align-items:center;
}

div.QuestionnaireContainer div.Questionnaire div.QuestionnaireBody {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    height:50%;
    width:50%;
}

div.QuestionnaireContainer div.Questionnaire div.QuestionnaireBody h2 {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    padding:0.5rem;
    font-size:3rem;
}

div.QuestionnaireContainer div.Questionnaire div.QuestionnaireBody ul.columns {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    columns:2;
    list-style:none;
    padding:0;
}

div.QuestionnaireContainer div.Questionnaire div.QuestionnaireBody ul.columns li {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    display:inline-block;
}

div.QuestionnaireContainer div.Questionnaire div.QuestionnaireBody ul.columns li 
    div.QuestionnaireItem {
        font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
        filter:grayscale(100%);
        background-color:#e74c3c;
        border-radius: 5%;
        padding:0.5rem;
        margin:0.5rem;
    }

div.QuestionnaireContainer div.Questionnaire div.QuestionnaireBody ul.columns li 
    div.QuestionnaireItem img {
        font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
        height:50%;
        width:50%;
    }

div.QuestionnaireContainer div.Questionnaire div.QuestionnaireBody ul.columns li 
    div.QuestionnaireItem h3 {
        color:white;
        padding:0.5rem;
    }

div.QuestionnaireContainer div.Questionnaire div.QuestionnaireBody ul.columns li 
    div.QuestionnaireItem:hover {
        animation:addColor .4s ease-in forwards;
        cursor:pointer;
    }

@keyframes addColor {
    0% {
        filter:grayscale(100%);
    } 100% {
        filter:grayscale(0);
    }
}

div.QuestionnaireContainer div.QuestionnaireButton {
    display:flex;
    justify-content:center;
    align-items:center;
}    

div.QuestionnaireContainer div.QuestionnaireButton div.Button {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    font-size:1.5rem;
    border-radius:5%;
    margin:0.5rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
    padding-left:2rem;
    padding-right:2rem;
    color:white;
    background-color:#e74c3c;
}

div.QuestionnaireContainer div.QuestionnaireButton div.Button:hover {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
    color:#e74c3c;
    border:2px solid #e74c3c;
    background-color:white;
    cursor:pointer;
}