
.App .recommend-component img {
	max-width: 175px;
	max-height: 175px;
	float: left;
}

.App .recommend-component {
	margin: auto;
	text-align: left;
}

.App .recommend-component h4 {
	font-weight: bolder;
	color: #2CD6A9;
}

.App .recommend-component h2 {
	font-weight: bolder;
	margin-top: 1em;
	padding: auto;
	color: #2CD6A9;
}

.App .product-card {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.App .product-image, .product-details-content {
	margin: 2em;
}

.App .product-divider {
	border: 2px #2CD6A9 solid;
	width: 150px;
	margin-top: 1em;
}

.App .recommend-component .product {
	display: flex;
	flex-direction: column;
}