
.account h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: normal;
    color: #2CD6A9;
    font-family: "Futura";
}

.account {
    height: 100%;
    margin: 4rem auto 0;
    max-width: 300px;
}

.account .a {
    color: #2CD6A9 !important;
    font-weight: bold;
}

.account .a:hover {
    color: #26B790 !important;
}

.account .btn {
    font-size: 1rem;
    background-color: #2CD6A9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.account .btn:hover {
    opacity: 0.8;
}

.account .btn-input {
    border-right: 1px solid white;
}

.account .btn-small {
    font-size: 0.9rem;
    margin-right: 10px;
    padding: 0.4rem 0.6rem;
    width: auto;
}

.account .links {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.account input[type=text], input[type=email], input[type=password] {
    width: 100%;
    border-radius: 3px;
    font: inherit;
    font-size: 1.1rem;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid rgb(157, 157, 157);
    box-sizing: border-box;
}

.account .error-message {
    color: #f75b5b;
}