.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.face-capture-container img {
	max-width: 175px;
  max-height: 175px;
  padding: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.appContainer {
  height:100vh;
  width:100%;
}

.mainNav {
  height:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.mainNav .sign-out {
  text-align: end;
  display: relative;
  margin: 3em;
}

.mainNav div.container {
  width:100vw;
}

.mainNav div.container div.title {
  font-size:5rem;
}

.mainNav div.container ul, .mainNav div.settingsContainer ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

.mainNav div.container ul li {
  display:inline;
}

.mainNav div.container ul li a div.circle {
  display:inline-block;
  height:80px;
  width:80px;
  border-radius:50%;
  margin-left:2rem;
  margin-right:2rem;
}

.mainNav div.container ul li a div.circle.one {
  background-color:#DE5134;
  background-size:contain;
  background-image:url('./images/icon_camera.png');
}

.mainNav div.container ul li a div.circle.two {
  background-color:#6975A7;
  background-size:contain;
  background-image:url('./images/icon_analytics.png');
}

.mainNav div.container ul li a div.circle.three {
  background-color:#F3EA6B;
  background-size:contain;
  background-image:url('./images/icon_settings.png');
}

.mainNav div.analyticsContainer {
  margin:50px;
}

.mainNav div.analyticsContainer div.graph {
  height:20rem;
  width:50vw;
  background:repeating-linear-gradient(90deg, #ecf0f1, #ecf0f1 50px, #6975A7 10px, #6975A7 95px);
  border-radius: 20px;
  margin: auto;
	padding: 3vw;
}

.mainNav div.analyticsContainer div.subtitle {
  display:block;
  justify-content: left;
  color:#6975A7;
}

.mainNav div.analyticsContainer div.regimen {
  display:flex;
  height:15rem;
  width:50rem;
  border:3px solid #6975A7;
  border-radius:.5rem;
}

.mainNav div.settingsContainer {
  width:50rem;
  border:5px solid #F3EA6B;
  border-radius:.5rem;
  margin:50px;
}

.mainNav div.settingsContainer ul li {
  font-size:1.5rem;
  padding-bottom:2rem;
  padding-top:2rem;
  border-bottom:2px solid #F3EA6B;
}

.mainNav div.settingsContainer ul a {
  text-decoration: none;
  color:black;
}

.mainNav div.settingsContainer ul li:hover {
  background-color:#F3EA6B;
}

